.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
    min-height: calc(95vh - 140px);
    gap: 60px;
    flex-wrap: wrap;
}

.home-texto {
    display: flex;
    flex-direction: column;
}

.titulo-principal {
    font-size: 2.2rem;
    font-weight: 600;
}

.home-texto h2 {
    color: #1835c9;
    margin-top: 0.2rem;
    font-size: 1.65rem;
    font-weight: 600;
}

.home-imagen img {
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.iconos-redes {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.icono {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}

.icono:hover {
    transform: scale(1.1);
}

.download-cv-boton {
    display: flex;
    align-items: center;
    padding: 0.70rem 1.30rem;
    background-color: #2347ff;
    color: white;
    text-decoration: none;
    font-weight: 300;
    border-radius: 12px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-size: 1rem;
}

.download-cv-boton:hover {
    background-color: #1835c9;
    transform: translateY(-3px);
}

/* Paleta de colores de referencia:
#eaf5ff
#d9ecff
#bbdaff
#92bfff
#6798ff
#4472ff
#2347ff
#1837ea
#1835c9
#1c3393
#101b56
*/
