.navbar{
    background-color: #000000;
    padding: 1rem;
    z-index: 1000; /*es para que la barra este por encima de todo*/
    height: 70px; /*altura fija para todo el navbar*/
    display: flex; /*pone los elemnetos uno al lado del otro*/; 
    justify-content: space-between; /*separa nombre y links*/;
    align-items: center; /*alinea todo*/
    position: fixed; /*se queda fijo arriba el nav*/
    width: 100%;
    box-sizing: border-box;
}

.navbar ul{
    list-style: none; /*elimina los puntos de la lista*/ 
    display: flex; /*pone los enlaces uno al lado del otro*/
    gap: 2rem; /*espacio entre los enlaces*/
    margin-right: 3rem;
}
 

.nombre_nav{
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration:none;
    margin-left: 3rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    transition: color 0.3s ease, transform 0.1s;
    transform: scale(1.05); /* estado inicial bien definido */
  }
  
  .nav-links a:hover {
    color: #4472ff;
    transform: scale(1.1);
  }
  