.home {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 100px 40px;
    min-height: calc(95vh - 140px); 
    gap: 60px;
}

.home-texto h1 {
    margin-bottom: 0.2rem;
}

.home-texto h2 {
    color: #110AF5;
    margin-top: 0.2rem;
}

img {
    width: 320px; /* Tamaño original de la imagen */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.icono {
    width: 90px;  /* Aumenta el tamaño */
    height: 90px; /* Asegura que el tamaño sea uniforme */
    margin-right: 15px; /* Agrega separación entre iconos */
    transition: transform 0.3s ease;
}

.icono:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

/*paleta de colores #0A97F5  #120AF5 #0A4CF5 #0AE1F5 #A476F5 #5B86F5*/