.home {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 100px 40px;
    min-height: calc(95vh - 140px); 
    gap: 60px;
}

.home-texto h1 {
    margin-bottom: 0.2rem;
}

.home-texto h2 {
    color: #110AF5;
    margin-top: 0.2rem;
}

img {
    width: 320px; /* Tama침o original de la imagen */
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.icono {
    width: 90px;  /* Aumenta el tama침o */
    height: 90px; /* Asegura que el tama침o sea uniforme */
    margin-right: 15px; /* Agrega separaci칩n entre iconos */
}

/*paleta de colores #0A97F5  #120AF5 #0A4CF5 #0AE1F5 #A476F5 #5B86F5*/