.proyectos {
  padding: 80px 60px;
  text-align: center;
}

.proyectos-title {
  margin-bottom: 3rem;
  color: rgb(0, 0, 0);
}

.proyectos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;  
}

.proyecto-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 350px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 550px; /* o ajustá según tu diseño */
}

.proyecto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.proyecto-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.proyecto-content { 
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.proyecto-title {
 
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.proyecto-desc {
  font-size: 1rem;
  color: #555
  margin-bottom: 1rem;
}

.proyecto-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.proyecto-links {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.proyecto-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0A97F5;
  color: #ffffff;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.proyecto-icon:hover {
  background-color: #0A97F5;
}

.tech-icon svg {
  width: 30px;
  height: 30px;
}

.proyecto-links svg{
  width: 30px;
  height: 30px;
}

.github-btn {
  border: 2px solid #0A97F5;
  background-color: transparent;
  color: #0A97F5;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: 500;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.github-btn:hover {
  background-color: #0A97F5;
  color: #fff;
}

.github-btn svg {
  width: 20px;
  height: 20px;
}
