.tecnologias {
  padding: 90px 60px;
  text-align: center;
  min-height: 100vh; /* Asegura que la sección tenga altura suficiente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido en la sección */
  padding-top: 0;
  padding-bottom: 0;
}

.tecnologias-titulo {
  color: #000000;
  margin-bottom: 3rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap; /* Permite que las cards bajen si no caben */
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 350px; /* Ajuste de altura para que se vea mejor */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Esto asegura que el contenido se alinee al principio */
}

.card h3 {
  margin-bottom: 1rem;
  margin-top: 0;
  color: #000000;
}

.tecnologia-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem; /* Menos espacio antes de los íconos */
}

.tecnologia-icons svg {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.tecnologia-icons svg:hover {
  transform: scale(1.2);
}

