.tecnologias {
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tecnologias-titulo {
  margin-bottom: 1.5rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Permite que las cards bajen si no caben */
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: normal;
}

.tecnologia-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem; /* Menos espacio antes de los íconos */
}

.tecnologia-icons svg {
  width: 65px;
  height: 65px;
  transition: transform 0.2s ease;
}

.tecnologia-icons svg:hover {
  transform: scale(1.1);
}

