.footer {
    background-color: #000000;
    padding: 0 1rem;
    z-index: 1000;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 1rem;;
    align-items: center; /*alinea todo*/
    top: 0; /*ocupa todo el largo*/
    left: 0;/*ocupa todo el ancho*/
    width: 100%;
    box-sizing: border-box; 
    margin-top: 3rem;
}

.footer p {
  font-size: 1.2rem; /* Reduce el tamaño del texto */
  white-space: nowrap; /* Evita que se divida en varias líneas */
  color: #555;
}

.footer-redes {
  display: flex;
  gap: 0.5rem; /* Espacio entre iconos más pequeño */
}

.footer-redes a {
  transition: transform 0.3s ease;
}

.footer-redes a:hover {
  transform: scale(1.1);
}

.icono-footer {
  width: 25px;
  height: 25px;
  fill: white;
}
