.carrusel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.carrusel-img {
  max-width: 80%;
  border-radius: 12px;
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;     /* 👈 Muy importante para centrar el ícono verticalmente */
  padding-bottom: 3px;         /* Evita espacio interno innecesario */
  z-index: 10;
}

.carrusel-btn:hover {
  background-color: #e0e0e0;
}

.carrusel-btn.izquierda {
  left: 10px;
}

.carrusel-btn.derecha {
  right: 10px;
}

